// default layout
.h125
	height: 125px
.h90
	height: 90px
	clear: both
.h60
	height: 60px
	clear: both
.black__bg
	background-color: #000!important
	a
		color: #ebebeb!important
		border-bottom-color: #EBEBEB!important
	.therapy__title
		color: #FFF!important
	.photo__before
		color: #aeaeae!important
	p
		color: #AEAEAE
.gray
	+gray
.pazzle__big
	width: 30%
	margin: 0 2% 0 1%
	&:last-child
		margin-right: 1%
	&:first-child
		margin-left: 1%!important
.h50
	margin-bottom: 50px
.ht65
	margin-top: 65px
.mt70
	margin-top: 70px
.ht50
	margin-top: 50px
.ht40
	margin-top: 40px
.h15
	margin-top: 15px
.mb35
	margin-bottom: 35px
	margin-top: 10px
.hb
	margin-bottom: -45px
	.pages__wrap
		-webkit-transform: translate(-50%, -110%)
		-moz-transform: translate(-50%, -110%)
		-ms-transform: translate(-50%, -110%)
		-o-transform: translate(-50%, -110%)
		transform: translate(-50%, -110%)
.no-border
	border: none
.fs25
	+fs(25)

/* ------------------------------------ injection.html ---------------- */

.border
	border-bottom: 1px solid #CECECE
.therapy__container_right
	float: left
	width: 26%
.bottom0
	margin-bottom: 0


.js-popup-return
	margin-left: -135px

.is-hide
	display: none


.header__enter
	display: none
	position: absolute
	top: 103px
	left: 87%

.footer__return
	top: 157px
	left: 43%