/* ------- main ------------ */
.main
	background-color: #FAFAFA
	+clr
.menu
	height: 60px
	margin: 0 auto
	+clr
	&__item
		position: relative
		display: inline-block
		margin-right: 55px
		&:last-child
			margin-right: 0
	&__link
		position: relative
		display: block
		padding: 0 7px
		line-height: 60px
		color: #222
		+fs(16)
		&:before
			content: ""
			display: none
			position: absolute
			top: -1px
			right: 0
			left: 0
			height: 1px
			width: 100%
			background-color: $gold
		&:hover
			color: $gold
			&:before
				content: ""
				display: block
.sub:hover .sub__menu
	display: block
.sub__menu
	display: none
	position: absolute
	width: 100%
	top: 60px
	right: 0
	padding: 0 18px 20px 20px
	background-color: #FFF
	z-index: 9900
	+box-shadow(0 1px 3px rgba(8,8,8,.2))
	&_item
		margin-top: 20px
	&_link
		display: inline-block
		width: 100%
		color: #222
		+fs(16)
		&:hover
			color: $gold

.slider
	position: relative
	margin: 0 auto 41px
	float: left
	width: 75%
	height: 540px

.slider .cycle-slideshow
	height: 540px
	overflow: hidden
	border-radius: 10px 0 10px 0
.big-slider__item
	position: static
	top: 0
	left: 0
	z-index: 100
	opacity: 1
	visibility: hidden
	display: block

.big-slider__img
	position: relative
	width: 853px
	height: 540px
	img
		+coverdiv
		// display: block
		// width: 100%
		// height: 540px
		+gray
.slider .nav
	position: absolute
	bottom: 40px
	left: -2px
	z-index: 999
	button
		width: 12px
		height: 12px
		border-radius: 50%
		background-color: #fff
		opacity: 0.8
		margin-left: 18px
		&:hover
			+scale(1.2)
	.is-active
		width: 12px
		height: 12px
		background-color: #949494
	+clr
.big-slider__content
	position: absolute
	color: #fff
	right: 40px
	left: auto
	bottom: 40px
	padding: 15px
	background-color: #93730b
	opacity: .85
	+os_light
	+fs(15)

.stock
	position: relative
	height: 540px
	width: 23%
	float: right
	&__title
		height: 75px
		line-height: 75px
		color: $gold
		+os_light
		+fs(30)

.stock .cycle-slideshow
	position: relative
	height: 465px
	overflow: hidden
.stock__slider-item
	position: static
	bottom: 0
	left: 0
	right: 0
	z-index: 100
	opacity: 1
	visibility: hidden
	display: block
	img
		display: block
		width: 285px
		height: 400px
		+gray
.stock__slider__content
	position: absolute
	bottom: 0
	left: 0
	line-height: 23px
	color: #333
	padding: 25px 20px 50px
	+fs(16)
	background-color: #dfdfdf

.stocker
	position: absolute
	bottom: 12px
	height: 20px
	left: 8px
	z-index: 99999
	button
		display: inline-block
		width: 12px
		height: 12px
		border-radius: 50%
		background-color: #fff
		opacity: 0.8
		margin-left: 15px
		cursor: pointer
		&:hover
			+scale(1.2)
	.is-active
		width: 14px
		height: 14px
		border: 1px solid $gold
		background-color: #DFDFDF
		+scale(1.2)
	.pager
		width: 10px
		height: 10px
		-webkit-border-radius: 50%
		border-radius: 50%
		background-color: #222
		margin-right: 5px
	+clr
.gold__title
	color: $gold
	line-height: 28px
	+fs(25)
/*-----------  must know  ------*/

.must__know
	position: relative
	width: 96%
	margin: 0 auto
	border-bottom: 2px solid $gold
	+clr
	&-col
		width: 47%
		margin: 45px 10px 80px 15px
		float: left
		line-height: 20px
		color: #333
		+os_light
		+fs(16)
		&:nth-child(2n)
			float: right
			margin-right: 0px
	&_content
		width: 60%
		margin: 45px auto 50px
		line-height: 20px
		text-align: left
		color: #333
		+os_light
		+fs(16)
.main__title
	text-align: center
	color: $gold
	+os_light
	+fs(30)
/* ------------ pazle ------------ */

.pazzle
	margin: 58px auto 0px
	width: 96%
	text-align: center
	+clr
	p
		margin-top: 18px
	&__wrap
		position: relative
		display: inline-block
		vertical-align: top
		width: 23%
		padding-bottom: 36px
		margin: 0 10px
		&:nth-child(2n)
			top: 35px
		&:nth-child(4n)
			margin-right: 0
		&:after
			content: ""
			position: absolute
			top: 270px
			right: 15px
			+arr(24, 15, #dfdfdf, t)
	&__img
		border-radius: 0 10px 0 0
		max-height: 285px
		overflow: hidden
	&__container
		position: relative
		padding: 35px 28px
		background-color: #DFDFDF
		text-align: left
		color: #222
		+os_light
		+fs(16)// ввести меди запросы на уменьшение шрифта


.white
	background-color: #FFF
	padding: 80px 0
	+clr
.event
	margin-top: 40px
	+clr
.event__wrap
	position: relative
	display: inline-block
	width: 23%
	margin: 0 10px
	overflow: hidden
	+clr
	&:nth-child(4n)
		margin-right: 0
	p
		margin-top: 18px
		color: #333
.event__title
	margin-bottom: 5px
	a
		color: $gold
		+os_light
		+fs(22)
		&:hover
			color: #222
			border-bottom: 1px solid #222
.date
	color: #333
	+os_light
	+fs(14)

/* --------- likes ---------- */
.likes
	position: relative
	text-align: center
	margin: 0px auto
	padding: 65px 0 50px
	+clr
.likes .cycle-slideshow
	margin-top: 30px
	overflow: hidden
.likes__slide
	position: static
	top: 0
	left: 0
	z-index: 100
	opacity: 1
	background-color: #FAFAFA
	visibility: hidden
	display: block
	img
		display: block
		margin: auto auto
		border-radius: 0 10px 0 0
		height: 120px
		width: 120px
		+gray
.likes__slide_conteiner
	margin-top: 10px
	.spector
		margin: 23px auto
.name
	color: #333
	+fs(20)
.spector
	color: #333
	+fs(14)
.likes__slide_content
	position: relative
	width: 65%
	margin: 0 auto 20px
	color: #333
	line-height: 25px
	background-color: #FAFAFA
	+fs(18)
	&:before
		content: ""
		position: absolute
		display: block
		top: -17px
		left: -50px
		+s(q_open)
	&:after
		content: ""
		position: absolute
		display: block
		bottom: -17px
		right: -50px
		+s(q_close)

.likes_nav
	position: absolute
	bottom: 25px
	left: 50%
	right: 50%
	width: 300px
	margin-left: -150px
	z-index: 999
	button
		display: inline-block
		width: 8px
		height: 8px
		border-radius: 50%
		background-color: #cdcdcd
		margin-left: 20px
		&:hover
			+scale(1.2)
	.is-active
		width: 11px
		height: 11px
		background-color: #FAFAFA
		border: 1px solid $gold
	+clr


/* ---------- services.html  -------------- */

.services
	margin-top: 40px
	+clr
	&__left
		float: left
		width: 90%
		&_img
			position: relative
			width: 64%
			overflow: hidden
			border-radius: 10px 0 10px
			&:after
				content: ""
				position: absolute
				top: 60px
				right: 20px
				+arr(22, 40, #fff, l)