/* ------- main ------------ */

.menu
	height: 60px
	margin: 0 auto
	+clr
	&__item
		position: relative
		display: inline-block
		margin-right: 55px
		&:last-child
			margin-right: 0
	&__link
		position: relative
		display: block
		padding: 0 7px
		line-height: 60px
		color: #222
		+fs(16)
		&:before
			content: ""
			display: none
			position: absolute
			top: -1px
			right: 0
			left: 0
			height: 1px
			width: 100%
			background-color: $gold
		&:hover
			color: $gold
			&:before
				content: ""
				display: block
.sub:hover .sub__menu
	display: block
.sub__menu
	display: none
	position: absolute
	width: 100%
	top: 60px
	right: 0
	padding: 0 18px 20px 20px
	background-color: #FFF
	z-index: 99
	+box-shadow(0 1px 3px rgba(8,8,8,.2))
	&_item
		margin-top: 20px
	&_link
		display: inline-block
		width: 100%
		color: #222
		+fs(16)
		&:hover
			color: $gold